<div class="w-[1280px]">
  <div class="w-[1280px] h-[673px] px-8 justify-start items-start gap-8 inline-flex mt-32">
    <div class="w-[658px] flex-col justify-start items-start gap-16 inline-flex">
      <div class="self-stretch h-[673px] flex-col justify-start items-start gap-5 flex">
        <div class="w-[658px] h-[475px] rounded-[20px] justify-center items-center inline-flex overflow-hidden">
          <div class="grow shrink basis-0 self-stretch justify-center items-center inline-flex">
            <img [src]="selectedImage" class="w-[658px] h-[475px]" loading="lazy" />
          </div>
        </div>
        <div class="self-stretch justify-start items-start gap-5 inline-flex">
          <div *ngFor="let image of images.slice(0, 4); let i = index"
               class="w-[149px] h-[108px] bg-gray-100 rounded-lg justify-center items-center flex overflow-hidden"
          >
            <div class="w-[149px] h-[108px] justify-center items-center inline-flex">
              <img [src]="image" class="w-[149px] h-[108px]" loading="lazy" />
            </div>
          </div>
        </div>
        <div class="self-stretch justify-center items-center gap-2 inline-flex">
          <div
            class="grow shrink basis-0 h-[50px] pl-[25px] pr-[23px] py-[13px] bg-indigo-50 rounded-2xl shadow justify-center items-center gap-3 flex">
            <div class="text-indigo-700 text-base font-semibold leading-normal">Live preview</div>
            <div class="w-5 h-5 relative"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="grow shrink basis-0 pl-8 flex-col justify-start items-start gap-8 inline-flex">
      <div class="self-stretch h-36 flex-col justify-start items-start gap-4 flex">
        <div class="self-stretch text-gray-900 text-4xl font-semibold leading-10">{{ product.name }}
        </div>
        <div
          class="self-stretch text-gray-600 text-base font-normal leading-normal">{{ product.description }}
        </div>
      </div>
      <div class="self-stretch h-[126px] p-3 bg-gray-100 rounded-[20px] flex-col justify-start items-start gap-2 flex">
        <div class="self-stretch justify-center items-center gap-2 inline-flex">
          <div
            class="grow shrink basis-0 h-[50px] px-[25px] py-[13px] bg-indigo-600 cursor-pointer rounded-2xl shadow justify-center items-center flex">
            <div class="text-white text-base font-semibold leading-normal ">Buy for
              ${{ product.price_usd |humanNumber }}
            </div>
          </div>
          <div
            class="grow shrink basis-0 h-[50px] pl-[25px] pr-[23px] py-[13px] cursor-pointer bg-white rounded-2xl shadow border border-fuchsia-500 justify-center items-center gap-3 flex">
            <div class="text-gray-700 text-base font-semibold leading-normal ">Buy
              for {{ product.price | humanNumber }} SOL
            </div>
            <div class="w-5 h-5 relative"></div>
          </div>
        </div>
        <div class="self-stretch rounded-xl justify-start items-center gap-2 inline-flex">
          <div class="grow shrink basis-0 h-11 px-4 py-3 bg-gray-100 rounded-xl justify-between items-center flex">
            <div class="items-center gap-1 flex w-[76px] h-5 justify-between">
              <div class="text-slate-900 text-sm font-medium leading-tight">Sale</div>
              <div class="w-3.5 h-3.5 relative">
                <mat-icon>shopping_cart</mat-icon>
              </div>
              <div class="text-gray-900 text-sm font-medium leading-tight">{{ product.sale_histories }}
              </div>
            </div>
          </div>
          <div class="grow shrink basis-0 h-11 px-4 py-3 bg-gray-100 rounded-xl justify-between items-center flex">
            <div class="justify-start items-center gap-1 flex">
              <div class="text-slate-900 text-sm font-medium leading-tight">Volume</div>
              <div class="w-3.5 h-3.5 relative">

              </div>
              <div
                class="text-gray-900 text-sm font-medium leading-tight">{{ product.remaining_products }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[494px] h-5 justify-center items-center inline-flex">
        <div class="w-[494px] h-px bg-gray-200"></div>
      </div>
      <div class="self-stretch justify-start items-start gap-8 inline-flex">
        <div class="grow shrink basis-0 flex-col justify-start items-start gap-2 inline-flex">
          <div class="self-stretch text-gray-500 text-sm font-medium leading-tight">Author</div>
          <div class="justify-start items-center gap-2 inline-flex">
            <img class="w-5 h-5 rounded-2xl" src="https://via.placeholder.com/20x20" />
            <div class="text-gray-900 text-sm font-medium leading-tight">{{ product.author.username }}
            </div>
          </div>
        </div>
        <div class="grow shrink basis-0 flex-col justify-start items-start gap-2 inline-flex">
          <div class="self-stretch text-gray-500 text-sm font-medium leading-tight">Owner</div>
          <div class="justify-start items-center gap-2 inline-flex">
            <img class="w-5 h-5 rounded-2xl" src="https://via.placeholder.com/20x20" />
            <div class="text-gray-900 text-sm font-medium leading-tight">{{ product.owner.username }}</div>
          </div>
        </div>
      </div>
      <div
        class="self-stretch h-[166px] p-3 bg-white rounded-[20px] border border-gray-200 flex-col justify-start items-start gap-3 flex">
        <div class="self-stretch px-1 rounded-xl justify-start items-start gap-2 inline-flex">
          <div class="grow shrink basis-0 text-gray-600 text-base font-normal leading-normal">Interested
            in this product and eager to collaborate and earn with the creator?
          </div>
          <div class="pt-1 justify-start items-start gap-2 flex">
            <div class="w-5 h-5 relative"></div>
          </div>
        </div>
        <div class="self-stretch justify-center items-center gap-2 inline-flex">
          <div
            class="grow shrink basis-0 h-[50px] px-[25px] py-[13px] bg-indigo-100 rounded-2xl shadow justify-center items-center flex">
            <div class="text-indigo-700 text-base font-semibold leading-normal">Buy Ownership</div>
          </div>
        </div>
        <div class="self-stretch h-5 px-4 rounded-xl justify-center items-center gap-3 inline-flex">
          <div class="justify-start items-center gap-1 flex">
            <div class="text-slate-900 text-sm font-medium leading-tight">From</div>
            <div class="text-gray-900 text-sm font-medium leading-tight">$</div>
            <div class="text-gray-900 text-sm font-medium leading-tight">1200</div>
          </div>
          <div class="text-gray-500 text-sm font-medium leading-tight">or</div>
          <div class="justify-start items-center gap-1 flex">
            <div class="w-3.5 h-3.5 relative"></div>
            <div class="text-gray-900 text-sm font-medium leading-tight">6.36</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-[1280px] px-8 flex-col justify-start items-start gap-8 inline-flex mt-32">
    <div class="w-[1216px] h-[38px] relative">
      <div class="w-[1216px] h-px left-0 top-[37px] absolute bg-gray-200"></div>
      <div class="left-0 top-0 absolute justify-center items-center gap-8 inline-flex">

        <div (click)="onTabClick(tab)" *ngFor="let tab of sectionTabs" [routerLink]="[tab.route]"
             class="flex-col justify-center items-center inline-flex cursor-pointer"
        >
          <div *ngIf="tab.isActive"
               class="px-1 pb-4 justify-center items-center inline-flex">
            <div class="text-indigo-600 text-sm font-medium leading-tight">{{ tab.title }}</div>
            <div class="self-stretch h-0.5 bg-indigo-500"></div>
          </div>
          <div *ngIf="!tab.isActive"
               class="px-1 pb-4 justify-center items-center inline-flex">
            <div class="text-gray-500 text-sm font-medium leading-tight">{{ tab.title }}</div>
            <div class="self-stretch h-0.5 bg-gray-200"></div>
          </div>
        </div>
      </div>

    </div>
    <router-outlet></router-outlet>
  </div>


  <div class="w-[1280px] px-8 flex-col justify-start items-start gap-10 inline-flex mt-32">
    <div class="self-stretch justify-between items-end inline-flex">
      <div class="text-gray-900 text-2xl font-medium leading-loose">Other template products</div>
      <div class="justify-start items-center gap-1 flex">
        <div class="text-right text-indigo-600 text-sm font-medium leading-tight">View all</div>
        <div class="w-3 h-3 relative"></div>
      </div>
    </div>
    <div class="self-stretch justify-start items-center gap-8 inline-flex">
      <div *ngFor="let suggestionProduct of suggestionProducts" (click)="onSuggestionsClick(suggestionProduct)"
           class="bg-white rounded-xl border border-gray-200 flex-col justify-start items-start inline-flex">
        <evocean-product-card [product]="suggestionProduct" class="w-[280px] h-[380px]"></evocean-product-card>
      </div>
    </div>
  </div>

</div>